body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
  background-color: antiquewhite;
}
.mainHeading h2{
  text-align: center;
color: rgb(183, 26, 26);
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold !important;
}
.conformPasswordmatch{
  color: green;
}